* {
	margin: 0px; /* Basic CSS reset because some things are annoying */
	padding: 0px;
}

:root{
	--nav-img-size: min(10vh, 10vw);
}

body {
	display: grid;
	grid-template-areas:
	'nav        nav        nav        nav        nav'
	'comictitle comictitle comictitle comictitle comictitle'
	'comicdate  comicdate  comicdate  comicdate  comicdate'
	'comic      comic      comic      comic      comic'
	'caption    caption    caption    caption    caption'
	'navfirst   navback    .          navnext    navlast'
	'comment    comment    comment    comment    comment';
	grid-auto-rows: min-content min-content min-content min-content min-content;
	text-align: center;
	min-height: 100vh;
}

#caption{
	grid-area: caption;
}

#nav > a {
}

#nav{
	grid-area: nav;
	text-align: left;
}

#comic{
	grid-area: comic;
}

#title{
	grid-area: comictitle;
}

#firstLink{
	grid-area: navfirst;
}

#backLink{
	grid-area: navback;
}

#nextLink{
	grid-area: navnext;
}

#lastLink{
	grid-area: navlast;
}

#comicdate{
	grid-area: comicdate;
}

.comicnavlink{
	background-color: grey;
	padding: 20px;
	margin: auto;
}

#nav > a > img{
	width: var(--nav-img-size);
	height: var(--nav-img-size);
}

#comic > img{
	width: 50vw;
}

#disqus_thread{
	grid-area: comment;
	margin-left: 10vw;
	margin-right: 10vw;
}

