0 "Tales from the 1000 Dimensions" comic_1_digitaltext.png
3 "School Laptops" SchoolLaptops.png
7 "Preston's Invention #1" story_1_1.png
9 "Preston's Attempt" story_1_2_bluesky.png
14 "Preston's Invention #2" story_1_3.png
