0 "Tales from the 1000 Dimensions" comic_1_digitaltext.png
3 "School Laptops" SchoolLaptops.png
7 "Preston's Invention #1" story_1_1.png
9 "Preston's Attempt" story_1_2_bluesky.png
14 "Preston's Invention #2" story_1_3.png "We're having some delays in production so we'll probably be late on the next couple weeks of comics."
16 "An Engineer's Poem" story_1_4.png "We're not that good at poetry yet, sorry!"
22 "Guest Filler Strip #1 - LinuxRocks2000" guest_filler_linuxrocks2000_1.svg "Grant couldn't draw anything for today, so here's a filler by <a href='https://linuxrocks2000.github.io/'>LinuxRocks2000</a>."
28 "A Happy Ending" story_1_5.png "Grant's back! Here's one we've had in the pipeline for a while."
