* {
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}

h1 {
	color: green;
	padding: 20px;
	margin-bottom: 50px;
}

#ourfriendslinks{
	min-width: 30vw;
	max-width: 40vw;
	border-left: 2px solid black;
	margin-right: 0px;
	margin-left: auto;
}

#comiclinks > div{
	text-align: left;
}

#comiclinks > div > a {
	display: block;
	margin-right: 0px;
	margin-left: 0px;
	/*background-color: green;*/
	padding: 10px;
	text-decoration: none;
	font-size: 1em;
	color: black;
}

#comiclinks > div > a:hover{
	font-weight: bold;
	border-right: 10px solid yellow;
}
#comiclinks {
	flex: 1;
}

body {
	text-align: center;
	min-height: 100vh;
}

#flexy {
	display: flex;
	min-height: 100%;
}

#bottom{
	background-color: rgb(25, 25, 25);
	color: white;
	padding: 50px;
}

#about {
	min-width: 20vw;
	max-width: 30vw;
	border-right: 2px solid black;
}

#about > div{
	margin-top: 30px;
	line-height: 1.5;
	text-align: left;
	border-left: 3px solid green;
	margin-left: 5px;
	padding-left: 10px;
}

#about > div > div{
	margin: 6px;
}

#about > div > div {
	margin: 6px;
}

img{
	max-height: min(10vw, 10vh);
}
